node_modules
**/node_modules

**/.npm
**/.config
**.bash_history

# misc
**/.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# temp output files
**/utils/templates/observations/transform/output/

**/dist/

utils/templates/observations/**