node_modules
**/node_modules

dist
coverage

openshift
sonar-runner
uploads

.vscode

sims/src/observations/**/output/*
sims/src/summary/**/output/*

sims/src/observations/**/test-run/*
sims/src/summary/**/test-run/*
