node_modules
**/node_modules

dist
coverage

openshift
sonar-runner
uploads

.vscode

sims/observations/**/output/*
sims/summary/**/output/*

sims/observations/**/test-run/*
sims/summary/**/test-run/*
